%inputContato {
  margin-bottom: 25px;
  transition: background-color .3s;
  &:focus {
    background-color: #ccc;
  }
}

input[type="text"],
input[type="email"] {
  @extend %inputContato;
  padding: 25px 15px;
}

textarea.form-control {
  @extend %inputContato;
  height: 100px;
}